:root {
    --text-color: #172b4d;
    --input-text-color: #172b4d;
    --label-color: #626f86;
    --border-color: #091e4224;
    --error-color: #cb2626;
}

html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
    font-size: 14px;
    color: var(--text-color);
}
.exclude-global,
.exclude-global * {
  font-size: revert;
  color: revert;
}

input[type="text"], select, textarea {
    border: 1px solid var(--border-color);
    border-radius: 3.01px;
    font-size: 14px;
    color: var(--input-text-color);
    padding: 8px;
    width: 100%;
}

button {
    border: solid var(--border-color) 1px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    padding: 6px 12px;
    font-weight: bold;
}

.emptyTemplate{
    background-color: #232030;
}

.emptyTemplate:hover{
    background-color: #445063;
}
